html{
	font-size : 62.5%;
	background-image : url("../img/bg.jpg");
	background-size : contain;
	max-width : 99vw;
	padding : 0px;
}
*{
	font-family : 'Arial';
}
body{
	margin : auto;
}
h1{
	font-size : 2.2rem;
}
h2{
	font-size : 1.6rem;
}
label, p{
	font-size : 1.2rem;
}
.aDroite{
	float : right;
}
.center{
	text-align : center;
}
textarea{
	resize : none;
	height : 5rem;
}

#header, #lien_header, #formulaire{
	display : inline;
	padding : 0px;
}
#header{
	height : 175px;
}
#search_bar{
	border : 1px solid grey;
	float : right;
	padding : 0px;
	margin-left : 15px;
}
#submit_search{
	background-image : url("../img/search.png");
	background-size : contain;
	background-repeat : no-repeat;
}
#search_tags{
	border : 0;
}
#logo{
	float : left;
}
div#div_gross_image{
	width : 100%;
	display : block;
	text-align : center;
	padding : 0px;
}
#grosse_image{
	margin-top : 150px;
	border-top : 1px solid black;
	padding-top : 5px;
	max-width : 750px;
}
#list_img{
	display : block;
	width : 100%;
	height : 20%;
	background-color : #e6e6e6;
}
#list_img ul{
	display : block;
	margin : auto;
	text-align : center;
	padding : 0px;
}
#list_img img{
	width : 100%;
}
#list_img li{
	margin : 5%;
	display : inline-block;
	width : 10%;
	vertical-align : top;
	text-align : center;
	height : 100%;
	border : 1px solid #2e2e1f;
	box-shadow : 5px 5px grey;
	background-color : white;
}
.caption p{
	font-size : 1.6rem;
	font-weight : bold;
}
.desc p{
	font-size : 1.2rem;
}
ul#mapsAndForm{
	width : 100%;
	padding : 0px;
}
#maps{
	border-right : 2px solid black;
	padding-right : 3px;
}
#form{
	padding-left : 3px;
}
#mapsAndForm input{
	margin-bottom : 5px;
}
#mapsAndForm li{
	display : inline-block;
	width : 49%;
	height : 100%;
}
.unDeux input{
	width : 48.8%;
}
input#mail, input#photo, textarea#message{
	width : 100%;
}
#footer{
	display : inline;
	bottom:0;
	width:100%;
	height: 1.1rem;
	right : 0;
}

@media screen and (min-width: 979px){
	body{
		max-width : 1200px;
	}
}
/* Tablettes */
@media screen and (min-width: 768px) and (max-width: 979px){
	#header{
		display:block;
		text-align : center;
	}
	#logo{
		float:  none;
		display : block;
		margin : auto;
	}
	.aDroite{
		float : none;
		display : inline-block;
		margin : auto;
	}
	#grosse_image{
		margin-top : 0;
		border : 0;
	}
	#list_img li{
		width : 45vw;
	}
	#mapsAndForm li{
		width : 48vw;
	}
	#form input{
		width : 98%;
	}
}

/* Téléphones intelligents */
@media screen and (max-width: 767px){
	#header, #corps{
		width : 100vw;
	}
	#header{
		display:block;
		text-align : center;
	}
	#logo{
		float:  none;
		display : block;
		margin : auto;
	}
	.aDroite{
		display : none;
	}
	#grosse_image{
		margin-top : 0;
		border : 0;
		width : 100%;
	}
	#list_img li{
		width : 50%;
	}
	#mapsAndForm li{
		width : 100%;
	}
	#form input{width : 98%;}
}